$default-font: "roboto", sans-serif
$accent: #10e08b
$footer-color: #303030
$text: #333
$white: #ffffff
$black: #000000

$header-title: "ralewayExtraBold", sans-serif
$header-nav: "ralewaySemiBold", sans-serif
$section-first: "ralewayRegular", sans-serif
$section-two: "ralewayLight", sans-serif

$base-size: 16px
@function em ($px, $base: $base-size)
  @return ($px/$base) * 1em

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px
$grid-columns: 12
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px)

$gutter: $grid-gutter-width
